@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section accesskey="$0" class="text-center">
	<div class="container">
		<h1 class="display-4 fw-normal">Welcome</h1>
		<p class="lead fw-normal">This is a simple example of a Razor Pages application.</p>
		<p class="lead fw-normal">You can use this template to create your own web application.</p>
		<p class="lead fw-normal">The code is available on GitHub.</p>
		<a class="btn btn-primary" asp-page="/Chat">Chat</a>
	</div>
	</section>
	<section accesskey="$1" class="text-center">
		<div class="container">
		<h2 class="display-4 fw-normal">About</h2>
		<p class="lead fw-normal">This is a simple example of a Razor Pages application.</p>
		<p class="lead fw-normal">You can use this template to create your own web application.</p>
		<p class="lead fw-normal">The code is available on GitHub.</p>
		</div>
	</section>
	<section accesskey="$2" class="text-center">
		<div class="container">
		<h2 class="display-4 fw-normal">Contact</h2>
		<p class="lead fw-normal">This is a simple example of a Razor Pages application.</p>
		<p class="lead fw-normal">You can use this template to create your own web application.</p>
		<p class="lead fw-normal">The code is available on GitHub.</p>
		</div>
	</section>
	<section accesskey="$3" class="text-center">
		<div class="container">
		<h2 class="display-4 fw-normal">Privacy</h2>
		<p class="lead fw-normal">This is a simple example of a Razor Pages application.</p>
		<p class="lead fw-normal">You can use this template to create your own web application.</p>
		<p class="lead fw-normal">The code is available on GitHub.</p>
		</div>
	</section>
	<section accesskey="$4" class="text-center">
		<div class="container">
		<h2 class="display-4 fw-normal">Terms of Service</h2>
		<p class="lead fw-normal">This is a simple example of a Razor Pages application.</p>
		<p class="lead fw-normal">You can use this template to create your own web application.</p>
		<p class="lead fw-normal">The code is available on GitHub.</p>
		</div>
	</section>
	<section accesskey="$5" class="text-center">
		<div class="container">
			<h2 class="display-4 fw-normal">License</h2>
			</div>
	</section>
	<section accesskey="$6" class="text-center">
		<div class="container">
			<h2 class="display-4 fw-normal">Contributing</h2>
			</div>
			</section>
			