@page
@model WebApplication2.Pages.PlayModel
@{
	ViewData["Title"] = "Play";
}

<section id="groups">
	<div id="race">
		@if (User.Identity.IsAuthenticated)
		{
			<button style="display: none;" id="start-button" onclick="joinGroup('group1')">Start race</button>
			<hr />
			<div accesskey="$0" id="group2" class="grou">
				<h2 style="font-size: 27px; margin:0;">Group 2</h2>
				<div id="end" class="end">
			<button class="grouch" id="join" onclick="joinGroup('group2')">Join group</button>
					<button class="grouch" onclick="leaveFromGroup('group2')">Leave group</button>
			</div>
			</div>
			<hr />
			<button style="display: none;" class="grou" onclick="joinGroup('group3')">Start race</button>
		}
		else{
			<div id="login-overlay">
				<h2>Please Log In to Continue</h2>
			</div>
		}
		<h2 id="timer">Timer: <span id="timer1">0</span> seconds</h2>
		</div>
	</section>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>